/* Informações do Pokemon */
#cabecalho{
    display: grid;
    grid-template-columns: 16fr 1fr;
    height: 2.6rem;
    padding: 4px;
    border-radius: 8px 8px 0 0;
    background-color: rgba(252, 255, 67, 0.932);
    box-shadow: 1px 1px 6px 0.6px rgba(0, 0, 0, 0.5);
}

#nomePokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    width: 100%;
    height: 2rem;
    font-weight: bold;
}

.close{
    background: none;
    border: none;
    padding-top: 0.4rem;
}

h3{
    height: 1.6rem;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    margin-bottom: 0.6rem;
}

.informacao p{
    display: flex;
    flex-wrap: wrap;
    height: 2em;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    margin-bottom: 0.6rem;
    font-size: 1.4rem;
    font-weight: bold;
}

#detalhesPokemon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 2rem;
    height: 8rem;
    font-size: 0.6rem;
}

#statusPokemon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1.8rem;
    height: 10rem;
}