*{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

/*Barra de Pesquisa*/
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    margin-top: 2rem;
}

#pesquisa{
    width: 20%;
    height: 2rem;
    margin-right: 1rem;
    border: 1.6px solid rgb(199, 161, 115);
    border-radius: 4px;
    padding: 4px;
}

button{
    width: 4rem;
    height: 2rem;
}

/*Informações Bloco Pokemon*/
.material-symbols-outlined {
    height: 0rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined:hover{
    transition: 300ms;
    transform:scaleX(10px);
}

#bloco{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin: 2rem 5rem;
    width: 40rem;
    height: 44rem;
    padding: 10px;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 1px -1px 6px 1px rgba(0, 0, 0, 0.5);
    background-color: rgb(253, 59, 59);
}

#nomePokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    width: 100%;
    height: 2rem;
}

img{
    width: 200px;
    height: 200px;
    margin: 1.6rem;
}

.informacao{
    position: relative;
    width: 100%;
    height: 24rem;
    padding: 24px;
    border-radius: 0 0 8px 8px;
    background-color: rgba(252, 255, 67, 0.932);
    box-shadow: 1px 1px 6px 0.6px rgba(0, 0, 0, 0.5);
}